/* @layer properties, base, components, theme, utilities; */
@import "tailwindcss";
@source not './app.css';
@source '../../';
@source '../../../app/';
@custom-variant data-view (&[data-view="true"]);
@custom-variant app (body.app &);
@custom-variant app-browser (body.app-browser &);
/* @custom-variant not-data-view (&:not([data-view="true"])); */

@theme reference {
    --background-color-root: #202020;
    --color-foreground: white;
    --color-foreground-secondary: #cccccc;
    --color-secondary: white;
    --background-color-card: #FFFFFF0D;
    --fill-color-card: #00000019;
    --color-accent: #00000019;
    --color-accent-light-1: #fb9a44;
    --color-accent-light-2: #fb9a44;
    --color-accent-dark-1: #fb9a44;
    /* --color-accent-dark-2: #fb9a44; */
    --color-accent-primary: #fb9a44;
    --color-accent-secondary: --alpha(#fb9a44 / 90%);
    --color-accent-tertiary: --alpha(#fb9a44 / 80%);
    --background-color-control-primary: #FFFFFF0F;
    --background-color-control-secondary: #FFFFFF15;
    --background-color-control-tertiary: #FFFFFF08;
    --fill-control-primary: #FFFFFF0F;
    --fill-control-secondary: #FFFFFF15;
    --fill-control-tertiary: #FFFFFF08;
    --color-border-control-primary: #FFFFFF12;
    --color-border-control-secondary: #FFFFFF18;
    --color-border-control-on-accent-primary: #FFFFFF14;
    --color-border-control-on-accent-secondary: #00000023;
    --color-border-control-on-accent-tertiary: #00000037;
    --border-color-control-strong: #FFFFFF8B;
    --text-color-danger: #ff99a4;
    --text-color-subtitle: #616161;
    --text-color-disabled: #9c9c9c;
    --color-textbox-accent-highlight: #fb9a44;
    --text-color-on-accent: white;
    --text-color-on-accent-primary: hsl(300, 2%, 10%);
    --color-foreground-on-accent-primary: hsl(300, 2%, 10%);
    --background-color-solid-primary: #202020;
    --text-color-placeholder: #000000AB;
    --color-info: #62CDFF;
    --color-success: #6CCB5F;
    --color-caution: #FCE100;
    --color-critical: #FF99A4;
    --background-color-info: #DFF6FD;
    --background-color-success: #393D1B;
    --background-color-caution: #433519;
    --background-color-critical: #442726;
    --color-divider: #FFFFFF15;
    --spacing-titlebar-height: max(30px, var(--app-titlebar-height, 0px));
    --spacing-mainarea-height: 100vh - var(--spacing-titlebar-height);
    --color-txt-fill-color-secondary: #FFFFFFC5;
}

@theme {
    --text-h1: var(--text-4xl);
    --text-h2: var(--text-3xl);
    --text-card-title: var(--text-4xl);
    --text-body: var(--text-2xl);
    --spacing: 16px;
    --background-color-control-primary-light: #FFFFFFB3;
    --background-color-control-secondary-light: #F9F9F980;
    --background-color-control-tertiary-light: #F9F9F94D;
    --background-color-control-primary-dark: #FFFFFF0F;
    --background-color-control-secondary-dark: #FFFFFF15;
    --background-color-control-tertiary-dark: #FFFFFF08;
    --fill-control-primary-light: #FFFFFFB3;
    --fill-control-secondary-light: #F9F9F980;
    --fill-control-tertiary-light: #F9F9F94D;
    --fill-control-primary-dark: #FFFFFF0F;
    --fill-control-secondary-dark: #FFFFFF15;
    --fill-control-tertiary-dark: #FFFFFF08;
    --background-color-smoke: #0000004D;
    --border-color-surface: #66757575;
    --ease-theme: cubic-bezier(0.41, 0.52, 0, 0.94);
}

.sandbox {
    --spacing: 4px;
}

html {
    @apply text-body;
}

body:not(.app), body.app-browser {
    --app-titlebar-reserved-area-left: 0px;
    --app-titlebar-reserved-area-right: 0px;
    
    @variant dark {
        --background-color-root: #202020;
        --color-accent: #f7630c;
        --color-accent-light-1: #fb9a44;
        --color-accent-light-2: #fb9a44;
        --color-accent-dark-1: #e05307;
        --text-color-on-accent-primary: hsl(300, 2%, 10%);
        --color-foreground-on-accent-primary: hsl(300, 2%, 10%);
        --color-txt-fill-color-secondary: #FFFFFFC5;
    }

    @variant not-dark {
        --background-color-root: #f3f3f3;
        --color-accent: #f7630c;
        --color-accent-light-1: #fb9a44;
        --color-accent-light-2: #fb9a44;
        --color-accent-dark-1: #e05307;
        --text-color-on-accent-primary: white;
        --color-foreground-on-accent-primary: white;
        --color-txt-fill-color-secondary: #0000009E;
    }
}

body.app:not(.app-browser) {
    --background-color-root: transparent;
}

body {
    @variant dark {
        --color-foreground: white;
        --color-foreground-secondary: #cccccc;
        --background-color-card: #FFFFFF0D;
        --fill-color-card: #00000019;
        --color-accent-primary: var(--color-accent-light-1);
        --color-accent-secondary: --alpha(var(--color-accent-light-1) / 90%);
        --color-accent-tertiary: --alpha(var(--color-accent-light-1) / 80%);
        --background-color-control-primary: #FFFFFF0F;
        --background-color-control-secondary: #FFFFFF15;
        --background-color-control-tertiary: #FFFFFF08;
        --fill-control-primary: #FFFFFF0F;
        --fill-control-secondary: #FFFFFF15;
        --fill-control-tertiary: #FFFFFF08;
        --color-border-control-primary: #FFFFFF12;
        --color-border-control-secondary: #FFFFFF18;
        --color-border-control-on-accent-primary: #FFFFFF14;
        --color-border-control-on-accent-secondary: #00000023;
        --color-border-control-on-accent-tertiary: #00000037;
        --border-color-control-strong: #FFFFFF8B;
        --text-color-danger: #ff99a4;
        --text-color-subtitle: #aaa3a7;
        --color-textbox-accent-highlight: var(--color-accent-light-2);
        --text-color-disabled: #767676;
        --background-color-solid-primary: #202020;
        --text-color-placeholder: #FFFFFFAB;
        --color-info: #0078D4;
        --background-color-info: #24374A;
        --color-success: #6CCB5F;
        --color-caution: #FCE100;
        --color-critical: #FF99A4;
        --background-color-success: #393D1B;
        --background-color-caution: #433519;
        --background-color-critical: #442726;
        --color-divider: #FFFFFF15;
    }

    @variant not-dark {
        --color-foreground: hsl(0, 0%, 10%);
        --color-foreground-secondary: hsl(0, 0%, 36%);
        --background-color-card: #FFFFFFB3;
        --fill-color-card: #0000000f;
        --color-accent-primary: var(--color-accent-dark-1);
        --color-accent-secondary: --alpha(var(--color-accent-dark-1) / 90%);
        --color-accent-tertiary: --alpha(var(--color-accent-dark-1) / 80%);
        --background-color-control-primary: #FFFFFFB3;
        --background-color-control-secondary: #F9F9F980;
        --background-color-control-tertiary: #F9F9F94D;
        --fill-control-primary: #FFFFFFB3;
        --fill-control-secondary: #F9F9F980;
        --fill-control-tertiary: #F9F9F94D;
        --color-border-control-primary: #0000000F;
        --color-border-control-secondary: #00000029;
        --color-border-control-on-accent-primary: #FFFFFF14;
        --color-border-control-on-accent-secondary: #00000066;
        --color-border-control-on-accent-tertiary: #00000037;
        --border-color-control-strong: #00000072;
        --text-color-danger: #c42b1c;
        --text-color-subtitle: #616161;
        --color-textbox-accent-highlight: var(--color-accent-dark-1);
        --text-color-disabled: #9c9c9c;
        --background-color-solid-primary: #f3f3f3;
        --text-color-placeholder: #000000AB;
        --text-color-disabled: #9c9c9c;
        --color-info: #62CDFF;
        --background-color-info: #DFF6FD;
        --color-success: #0F7B0F;
        --color-caution: #9D5D00;
        --color-critical: #C42B1C;
        --background-color-success: #DFF6DD;
        --background-color-caution: #FFF4CE;
        --background-color-critical: #FDE7E9;
        --color-divider: #0000000F;
    }
}

body {
    --spacing-titlebar-height: max(30px, var(--app-titlebar-height, 0px));
    --spacing-mainarea-height: 100vh - var(--spacing-titlebar-height);
}

@layer base {
    body {
        line-height: calc(var(--spacing) * 2);
        @apply select-none selection:bg-accent selection:text-on-accent;
    }

    h1,
    .h1 {
        line-height: normal;
        @apply text-h1 font-bold;
    }

    h2,
    .h2 {
        line-height: normal;
        @apply text-h2 font-bold;
    }

    a:not(.manual) {
        @apply underline text-accent-primary hover:text-accent-secondary active:text-accent-tertiary cursor-pointer;
    }

    a {
        @apply cursor-default;
    }

    button {
        @apply p-button rounded-control border;
    }

    .control {
        @apply p-control rounded-control border;
    }

    ul {
        @apply list-disc list-inside ml-1 space-y-1;
    }

    ul li {
        @apply ml-2;
        /* Optional: small left margin for each item */
    }
}



@utility border-gradient-to-b {
    --tw-gradient-position: to bottom in oklab;
    border-image: linear-gradient(var(--tw-gradient-stops));
}

@utility rounded-* {
    border-radius: --spacing(--value(integer));
}

@utility border-image-none {
    border-image: none;
}

@utility control-border-control {
    /* @apply border-gradient-to-b from-border-control-secondary from-33% to-border-control-primary; */
    @apply border-border-control-primary dark:border-t-border-control-secondary not-dark:border-border-control-secondary;
}

@utility control-border-control-pressed {
    @apply border-image-none border-border-control-primary;
}

@utility control-border-accent {
    /* @apply border-gradient-to-b from-accent-secondary from-33% to-accent-primary; */
    @apply border-accent-primary border-t-accent-secondary;
}

@utility control-border-accent-pressed {
    @apply border-image-none border-transparent;
}

@utility p-control {
    @apply px-2.75 py-1.25;
    /* pt-1.25 pb-1.5; */
}

@utility p-button {
    @apply px-2.75 py-1.25;
    /* pt-1.25 pb-1.5; */
}

@utility p-button-icon {
    @apply p-1.25;
}

@utility rounded-control {
    @apply rounded-1;
}

@utility utils-style-textbox-no-hover {
    @apply outline-0 border px-2.25 pt-1 pb-0.75 rounded-control;
    @apply border-border-control-primary;
    /* @apply border control-border-control focus:control-border-control-pressed; */
    @apply bg-control-primary focus:bg-transparent;
    @apply border-b-2 border-b-control-strong focus:border-b-textbox-accent-highlight;
}

@utility utils-style-textbox {
    @apply utils-style-textbox-no-hover hover:bg-control-secondary;
}

@utility utils-style-textbox-focus {
    @apply bg-transparent;
    @apply border-b-textbox-accent-highlight;
}

@utility acrylic-default {
    @apply bg-[#FCFCFCCC] dark:bg-[#2C2C2CCC] backdrop-blur-lg
}

@layer components {
    .style-textbox-group>.style-textbox {
        outline: none;
        min-height: 100%;
        @apply px-2.25 pt-1 pb-0.75;
    }

    .style-textbox:not(.style-textbox-group > .style-textbox) {
        @apply utils-style-textbox focus:utils-style-textbox-focus;
    }

    .style-textbox-focus:not(.style-textbox-group > .style-textbox-focus) {
        @apply utils-style-textbox-focus;
    }
    .style-layer {
        @apply bg-control-primary border rounded-control control-border-control;
    }
    .style-card {
        @apply p-4 border control-border-control bg-card rounded-2;
    }
}

@import './styles/control.css';